<!DOCTYPE html>
<html>
<head>
    <title>MessengerApp - @ViewData["Title"]</title>
</head>
<body>
    <div>
        <a href="@Url.Action("Login","Account")">Logowanie</a>
        <a href="@Url.Action("Register","Account")">Rejestracja</a>
    </div>
    @RenderBody()
</body>
</html>