@model IEnumerable<MessageModel>

@{
    ViewData["Title"] = "Lista wiadomości";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista wiadomości</h1>

<ol>
    @foreach (var mes in Model)
    {
        <li>
            @mes.User.UserName - @mes.AddDate - @mes.Text

            @if (User.Identity.Name == mes.User.UserName)
            {

                @if (DateTime.Now.Subtract(mes.AddDate).Minutes < 10)
                {
                    <a href="@Url.Action("Delete","Messenger",new { Id = mes.Id})">Usuń</a>
                }
            }
        </li>
    }
</ol>

